{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="centered">
            <canvas id="canvas" width="128" height="128"></canvas>
        </div>

        <div class="centered">
            <input type="button" id="predictButton" class="btn btn-primary" value="Predict">
            <input type="button" id="clearButton" class="btn btn-primary" value="Clear">
        </div>

        <div class="centered">
            <h1 id="result"></h1>
        </div>
    </div>
</div>
{% endblock %}